body{
  background-color: rgb(195, 222, 222);
}

nav {
  position:sticky;
  z-index: 1;
  top: 0;
  
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: blue;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  text-align: right;
}
.links a:active {
  color: #e8a15b; 
  
}

.links a:hover {
  color: #e8605b; 
}
.search-bar input {
  padding: 5px;
}

.card {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 90%;
}

.card img {
  width: 90%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card button {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
}

.card button:hover {
  background-color: #20245f;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #337ab7;
}

.sidebar a:hover {
  color: #23527c;
}

main {
  width: 80%;
  padding: 20px;
}